:root {
  --font-base: 'Roboto', sans-serif;
  --font-secondary: 'Leckerli One', cursive;
  --bg-base: #a1ccee;
  --bg-card: linear-gradient(#62b8f6, #2c79c1);
  --bg-secondary: #f2f2f2;
  --bg-secondary-hover: #e0e0e0;
  --color-base: #fff;
  --color-secondary: #828282;
  --color-error: #f32e2e;

  font: 400 16px/1.2 var(--font-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-base);
  color: var(--color-base);
}

h1,
h2,
h3,
p {
  margin: 0;
}

#root {
  width: 100%;
}

.container {
  max-width: 768px;
  margin-inline: auto;
  padding: 25px 15px;
}

.card {
  display: grid;
  grid-gap: 25px;
  padding: 20px;
  background: var(--bg-card);
  border-radius: 20px;
}

.header {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 15px;
}

.header__search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 100%;
  margin-inline-end: auto;
  font-family: var(--font-secondary);
  font-size: 30px;
  text-align: center;
}

.search {
  position: relative;
}

.search__input {
  width: 100%;
  padding: 10px 15px;
  color: var(--color-secondary);
  background: var(--bg-secondary);
  border: 0;
  border-radius: 20px/50%;
  font-family: inherit;
  font-size: inherit;
}

.search__input:focus {
  outline: 0;
  box-shadow: 0 0 3px var(--bg-secondary);
}

.search__btn {
  position: absolute;
  inset-inline-end: 5px;
  inset-block-start: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: transparent;
  border: 0;
  color: var(--color-secondary);
  cursor: pointer;
}

.location {
  border: 0;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-base);
  font-size: 25px;
  cursor: pointer;
}

.error-message {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 5px);
  text-align: center;
  color: var(--color-error);
  font-size: 14px;
}

.units-btn {
  padding: 10px;
  color: var(--color-secondary);
  background: var(--bg-secondary);
  border: 0;
  border-radius: 20px/50%;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.units-btn:active {
  outline: 0;
}

.units-btn:hover {
  background: var(--bg-secondary-hover);
}

.info {
  display: grid;
  grid-gap: 15px;
}

.info__top {
  display: grid;
  gap: 15px;
}

.info__main {
  display: grid;
  justify-items: center;
  grid-gap: 10px;
}

.current-date {
  font-size: 14px;
  text-align: center;
}

.city {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.temperature {
  font-size: 40px;
  font-weight: 600;
}

.feels-like {
  font-size: 14px;
}

.description {
  text-transform: capitalize;
}

.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.additional-info__item {
  display: grid;
  justify-items: center;
  grid-gap: 5px;
  padding: 10px;
  background: var(--bg-secondary);
  color: var(--color-secondary);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
}

.additional-info__item-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.last-update {
  font-size: 12px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.forecast__item {
  display: grid;
  justify-items: center;
  grid-gap: 5px;
  padding: 10px;
  border: 1px solid var(--color-base);
  border-radius: 8px;
  text-align: center;
}

.forecast__description {
  font-size: 12px;
  text-transform: capitalize;
}

@media screen and (min-width: 480px) {
  .info__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo,
  .header__search {
    width: auto;
  }

  .additional-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .forecast {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .additional-info {
    grid-template-columns: repeat(4, 1fr);
  }

  .forecast {
    grid-template-columns: repeat(5, 1fr);
  }
}
